.l-grid {
  display: grid;
  grid-template-rows: 6rem 1fr 1rem;
  grid-template-columns: 14.5rem 1fr;
}

.l-header {
  background-color: #ffffff;
  padding: 0 2%;
  justify-content: end;
  align-items: center;
}

.l-wrapper {
  margin: 2%;
}

.l-footer {
  padding: 1% 2%;
  background-color: #3E4D62;
  color: #ffffff;
  align-items: center;
  justify-content: end;
}