.l-grid {
  display: grid;
  grid-template-rows: 6rem 1fr 1rem;
  grid-template-columns: 14.5rem 1fr;
}

.l-header {
  background-color: #ffffff;
  padding: 0 5%;
  justify-content: end;
  align-items: center;
}