.l-grid {
  display: grid;
  grid-template-rows: 6rem 1fr 1rem;
  grid-template-columns: 14.5rem 1fr;
}
@media screen and (max-width: 1024px) {
  .l-grid {
    grid-template-columns: 24% 1fr;
  }
}
@media screen and (max-width: 599px) {
  .l-grid {
    grid-template-rows: 4rem 1fr 1rem;
    grid-template-columns: 1fr;
  }
}

.l-header {
  background-color: #ffffff;
  padding: 0 2%;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .l-header {
    position: fixed;
    width: 100%;
    height: 4rem;
    z-index: 1;
  }
}

main {
  min-height: calc(100vh - 117px);
}
@media screen and (max-width: 599px) {
  main {
    min-height: calc(100vh - 80px);
  }
}

.l-wrapper {
  margin: 2%;
}

.l-footer {
  padding: 1% 2%;
  background-color: #3E4D62;
  color: #ffffff;
  align-items: center;
  justify-content: flex-end;
}