.df {
  display: flex;
}

.p-nav__header ul {
  justify-content: flex-end;
}
.p-nav__header ul a {
  margin-right: 2rem;
}
.p-nav__header ul li {
  align-items: center;
}

.p-menu {
  height: 100vh;
}
.p-menu__logo {
  text-align: center;
  margin: 1rem 3.5rem 2rem;
}
.p-menu__logo a h1 img {
  width: 100%;
}
.p-menu__list {
  display: inline-block;
  margin-top: 2rem;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
}
.p-menu__list > li:first-of-type {
  margin-bottom: 2.5rem;
}
.p-menu__list > li:last-of-type {
  margin-top: 2.5rem;
}
.p-menu__list li {
  position: relative;
}
.p-menu__list li a {
  display: inline-block;
  width: 100%;
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.p-menu__accordion {
  padding-left: 1rem;
  padding-right: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.p-menu__accordion:hover {
  color: #8CDBFF;
  transition: 0.3s;
}

.p-menu-sub {
  display: none;
  font-size: 1rem;
  background-color: #44546C;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}
.p-menu-sub li {
  position: relative;
  transition: 0.3s;
}
.p-menu-sub li:hover {
  font-weight: bold;
  color: #8CDBFF;
  border-left: 8px solid #8CDBFF;
  transition: 0.3s;
}
.p-menu-sub li a {
  padding: 1rem 0;
  margin: 0;
  padding-left: 3.5rem;
}
.p-menu-sub li a:hover::after {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e5cc";
  position: absolute;
  top: 20%;
  right: 16px;
}

.p-grid__menu {
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: #3E4D62;
  color: #ffffff;
}
.p-grid__header {
  grid-row: 1/2;
  grid-column: 2/3;
}
.p-grid__mypage, .p-grid__edit {
  grid-row: 2/3;
  grid-column: 2/3;
}
.p-grid__footer {
  grid-row: 3;
  grid-column: 1/3;
}

.p-notification {
  margin-top: 5rem;
}
.p-notification h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.p-notification ul {
  margin-top: 2rem;
}
.p-notification ul li {
  align-items: center;
  padding: 2rem 0;
  border-top: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
}
.p-notification ul li:not(:first-of-type) {
  border-top: none;
}
.p-notification ul li div:first-child {
  margin-right: 2rem;
}

.p-edit {
  margin-top: 2rem;
  align-items: end;
}
.p-edit__pull-down-list {
  border: 1px solid #C4C2C2;
  background-color: #ffffff;
  border-radius: 2px;
  width: 6.5rem;
  height: 2rem;
  margin-right: 1.5rem;
}
.p-edit__pull-down-list select {
  background-image: url(../img/arrow-select.svg);
  background-position: right 0px center;
  background-repeat: no-repeat;
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
  cursor: pointer;
}
.p-edit__search {
  width: 15rem;
}
.p-edit__search input {
  border: 1px solid #C4C2C2;
  background-color: #ffffff;
  border-radius: 16px;
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
}
.p-edit__delet {
  margin-left: auto;
}
.p-edit__delet a {
  background-color: #EA6969;
  color: #ffffff;
  font-weight: bold;
  width: 6.5rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.6);
}
.p-edit__delet a::before {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e92e";
  margin-right: 0.5rem;
}

.p-table {
  margin-top: 2rem;
}
.p-table table {
  width: 100%;
}
.p-table input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}
.p-table th {
  background-color: #C9CDD0;
  font-weight: 500;
  padding: 1rem 0;
  position: relative;
}
.p-table th:nth-of-type(1) {
  padding: 1rem;
  text-align: center;
}
.p-table th:nth-of-type(1)::after {
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 36px;
  background-color: #BDBEBF;
  position: absolute;
  top: 8px;
  right: 0;
  z-index: 1;
}
.p-table th:nth-of-type(n+2):nth-child(-n+5) {
  padding-left: 1rem;
}
.p-table th:nth-of-type(n+2):nth-child(-n+5)::after {
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 36px;
  background-color: #BDBEBF;
  position: absolute;
  top: 8px;
  right: 0;
  z-index: 1;
}
.p-table td {
  padding: 1.5rem 0;
  vertical-align: middle;
}
.p-table td:nth-of-type(1) {
  text-align: center;
}
.p-table td:nth-of-type(n+2):nth-child(-n+6) {
  padding-left: 1rem;
}
.p-table__edit {
  background-color: #D6D6D6;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-radius: 4px;
  margin-right: 1rem;
}
.p-table__edit::before {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e3c9";
  margin-right: 0.5rem;
}
.p-table__arrow {
  background-color: #D6D6D6;
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.p-table__arrow::before {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e5cf";
}
.p-table tr {
  border-left: 1px solid #C7CDD5;
  border-right: 1px solid #C7CDD5;
}
.p-table tr:nth-of-type(odd) {
  background-color: #ffffff;
}
.p-table tr:nth-of-type(even) {
  background-color: #F0F0F0;
}
.p-table tr:last-of-type {
  border-bottom: 1px solid #C7CDD5;
}

.c-icon--account {
  margin-right: 1rem;
}
.c-icon--menu {
  margin-left: auto;
}
.c-icon--mypage {
  transition: 0.3s;
}
.c-icon--mypage:hover {
  color: #8CDBFF;
  transition: 0.3s;
}
.c-icon--mypage::before {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e88a";
  margin-right: 1rem;
  position: relative;
  top: 3.5px;
}
.c-icon--edit::before {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e3c9";
  margin-right: 1rem;
  position: relative;
  top: 3.5px;
}
.c-icon--edit::after {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e5cf";
  position: relative;
  top: 4px;
  left: 96px;
}
.c-icon--add::before {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e147";
  margin-right: 1rem;
  position: relative;
  top: 3.5px;
}
.c-icon--add::after {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e5cf";
  position: relative;
  top: 4px;
  left: 54px;
}

.c-heading h2 {
  font-size: 2rem;
  font-weight: bold;
}