.df {
  display: flex;
}

.p-nav__header ul {
  justify-content: flex-end;
}
.p-nav__header ul a {
  margin-right: 2rem;
}
.p-nav__header ul li {
  align-items: center;
}

.p-menu {
  height: 100%;
}
@media screen and (max-width: 599px) {
  .p-menu {
    display: none;
  }
}
.p-menu__logo {
  width: 8rem;
  margin: 0 auto;
  padding: 1rem 0;
}
.p-menu__logo a h1 img {
  width: 100%;
}
.p-menu__list {
  display: inline-block;
  margin-top: 2rem;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .p-menu__list {
    font-size: 1.1rem;
  }
}
.p-menu__list > li:first-of-type {
  margin-bottom: 2.5rem;
}
.p-menu__list > li:last-of-type {
  margin-top: 2.5rem;
}
.p-menu__list li {
  position: relative;
}
.p-menu__list li a {
  display: inline-block;
  width: 100%;
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.p-menu__accordion {
  padding-left: 1rem;
  padding-right: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .p-menu__accordion {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 599px) {
  .p-menu__accordion {
    padding-right: 1rem;
  }
}
.p-menu__accordion:hover {
  color: #8CDBFF;
  transition: 0.3s;
}

.p-menu-sp__list {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #ffffff;
  background: #3E4D62;
  text-align: center;
  transform: translateX(-100%);
  transition: all 0.6s;
  width: 90%;
  height: 100%;
  font-weight: 500;
  overflow: auto;
}
.p-menu-sp__list.c-active {
  transform: translateX(0%);
  visibility: visible;
}
.p-menu-sp__list > ul {
  margin-top: 4.5rem;
  text-align: left;
}
.p-menu-sp__list > ul > li {
  margin-bottom: 2rem;
}
.p-menu-sp__img {
  width: 7.5rem;
  padding-top: 1rem;
}
.p-menu-sp__img a img {
  width: 100%;
  padding-left: 1rem;
}
.p-menu-sp__mypage {
  padding-left: 1rem;
}
.p-menu-sp__edit, .p-menu-sp__add {
  align-items: center;
}

.p-menu-sub {
  display: none;
  font-size: 1rem;
  background-color: #44546C;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}
.p-menu-sub li {
  position: relative;
  transition: 0.3s;
}
@media screen and (max-width: 599px) {
  .p-menu-sub li {
    width: 100%;
  }
}
.p-menu-sub li:hover {
  font-weight: bold;
  color: #8CDBFF;
  border-left: 8px solid #8CDBFF;
  transition: 0.3s;
}
.p-menu-sub li a {
  padding: 1rem 0;
  margin: 0;
  padding-left: 3.5rem;
}
@media screen and (max-width: 1024px) {
  .p-menu-sub li a {
    padding-left: 3rem;
  }
}
@media screen and (max-width: 599px) {
  .p-menu-sub li a {
    display: inline-block;
    width: 100%;
    padding-left: 3.5rem;
  }
}
.p-menu-sub li a:hover::after {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e5cc";
  position: absolute;
  top: 20%;
  right: 16px;
}
@media screen and (max-width: 1024px) {
  .p-menu-sub li a:hover::after {
    right: 8px;
  }
}
@media screen and (max-width: 599px) {
  .p-menu-sub li a:hover::after {
    right: 16px;
  }
}

.p-grid__menu {
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: #3E4D62;
  color: #ffffff;
}
.p-grid__header {
  grid-row: 1/2;
  grid-column: 2/3;
}
.p-grid__mypage, .p-grid__edit, .p-grid__add {
  grid-row: 2/3;
  grid-column: 2/3;
}
.p-grid__footer {
  grid-row: 3;
  grid-column: 1/3;
}

.p-notification {
  margin-top: 5rem;
}
@media screen and (max-width: 599px) {
  .p-notification {
    margin: 2.5rem 0;
  }
}
.p-notification h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.p-notification ul {
  margin-top: 2rem;
}
.p-notification ul li {
  align-items: center;
  padding: 2rem 0;
  border-top: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
}
@media screen and (max-width: 599px) {
  .p-notification ul li {
    display: block;
    padding: 1.5rem 0;
  }
}
.p-notification ul li:not(:first-of-type) {
  border-top: none;
}
.p-notification ul li div:first-child {
  margin-right: 2rem;
}
@media screen and (max-width: 599px) {
  .p-notification ul li div:first-child {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .p-edit {
    margin-bottom: 2.5rem;
  }
}

.p-sort-menu {
  margin-top: 2rem;
  align-items: end;
}
@media screen and (max-width: 599px) {
  .p-sort-menu {
    display: block;
  }
  .p-sort-menu > div {
    display: block;
  }
}
.p-sort-menu__pull-down-list {
  border: 1px solid #C4C2C2;
  background-color: #ffffff;
  border-radius: 2px;
  width: 6.5rem;
  height: 2rem;
  margin-right: 1.5rem;
}
@media screen and (max-width: 599px) {
  .p-sort-menu__pull-down-list {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin-bottom: 1.5rem;
  }
}
.p-sort-menu__pull-down-list select {
  background-image: url(../img/arrow-select.svg);
  background-position: right 0px center;
  background-repeat: no-repeat;
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
  cursor: pointer;
}
.p-sort-menu__search {
  width: 15rem;
}
@media screen and (max-width: 599px) {
  .p-sort-menu__search {
    width: 100%;
    height: 3rem;
    margin-bottom: 1.5rem;
  }
}
.p-sort-menu__search input {
  border: 1px solid #C4C2C2;
  background-color: #ffffff;
  border-radius: 16px;
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
}
@media screen and (max-width: 599px) {
  .p-sort-menu__search input {
    height: 100%;
  }
}

.p-table {
  margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
  .p-table {
    display: none;
  }
}
.p-table table {
  width: 100%;
}
.p-table input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}
.p-table th {
  background-color: #C9CDD0;
  font-weight: 500;
  padding: 1rem 0;
  position: relative;
}
.p-table th:nth-of-type(1) {
  padding: 1rem;
  text-align: center;
}
.p-table th:nth-of-type(1)::after {
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 36px;
  background-color: #BDBEBF;
  position: absolute;
  top: 8px;
  right: 0;
  z-index: 0;
}
.p-table th:nth-of-type(n+2):nth-child(-n+5) {
  padding-left: 1rem;
}
.p-table th:nth-of-type(n+2):nth-child(-n+5)::after {
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 36px;
  background-color: #BDBEBF;
  position: absolute;
  top: 8px;
  right: 0;
  z-index: 0;
}
.p-table td {
  padding: 1.5rem 0;
  vertical-align: middle;
}
.p-table td:nth-of-type(1) {
  text-align: center;
}
.p-table td:nth-of-type(n+2):nth-child(-n+6) {
  padding-left: 1rem;
}
.p-table tr {
  border-left: 1px solid #C7CDD5;
  border-right: 1px solid #C7CDD5;
}
.p-table tr:nth-of-type(odd) {
  background-color: #ffffff;
}
.p-table tr:nth-of-type(even) {
  background-color: #F0F0F0;
}
.p-table tr:last-of-type {
  border-bottom: 1px solid #C7CDD5;
}

.p-table-sp {
  display: none;
}
@media screen and (max-width: 1024px) {
  .p-table-sp {
    display: block;
    margin-top: 1.5rem;
  }
}
.p-table-sp table {
  table-layout: fixed;
  width: 100%;
}
.p-table-sp input[type=checkbox] {
  transform: scale(1.5);
}
.p-table-sp tr {
  border-left: 1px solid #C7CDD5;
  border-right: 1px solid #C7CDD5;
}
.p-table-sp th {
  background-color: #C9CDD0;
  font-weight: 500;
  vertical-align: middle;
  padding: 1rem 0;
  position: relative;
}
.p-table-sp th:nth-of-type(1) {
  padding: 1rem;
  width: 16%;
}
.p-table-sp th:nth-of-type(1)::after {
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 36px;
  background-color: #BDBEBF;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 0;
}
.p-table-sp th:nth-of-type(2) {
  padding-left: 1rem;
}
.p-table-sp__title td:first-of-type {
  padding: 1.5rem 1rem;
  width: 16%;
}
.p-table-sp__title td:last-of-type {
  padding: 1.5rem 1rem;
  line-height: 1.5;
}
.p-table-sp__setting--border-left {
  position: relative;
}
.p-table-sp__setting--border-left::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #BDBEBF;
  position: absolute;
  top: 34px;
  left: 1rem;
  z-index: 0;
}
.p-table-sp__setting--border-right {
  position: relative;
}
.p-table-sp__setting--border-right::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #BDBEBF;
  position: absolute;
  top: 34px;
  right: 1rem;
  z-index: 0;
}
.p-table-sp__setting td:nth-last-of-type(2) {
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.p-table-sp__edit-button {
  width: 100%;
  padding: 1rem 1rem 1.5rem;
}
.p-table-sp--odd {
  background-color: #ffffff;
}
.p-table-sp--even {
  background-color: #F0F0F0;
}
.p-table-sp--even:last-of-type {
  border-bottom: 1px solid #C7CDD5;
}

.p-add {
  margin-bottom: 2.5rem;
}

.p-text-editor {
  margin-top: 2.5rem;
  background-color: #ffffff;
}

.p-file-button {
  margin-top: 2.5rem;
}
.p-file-button h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.p-file-button__selection {
  margin-top: 1rem;
}
.p-file-button__selection label {
  padding: 1rem;
  color: #2E3A4A;
  background-color: #B5D5F5;
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.2s;
}
.p-file-button__selection label:hover {
  background-color: #9DC9F5;
  transition: all ease-in-out 0.2s;
}
.p-file-button__selection input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.p-file-button__selection p {
  margin-top: 1rem;
}

.p-date-time {
  margin-top: 2.5rem;
}
.p-date-time h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.p-date-time select {
  border: 1px solid #C4C2C2;
  background-color: #ffffff;
  background-image: url(../img/arrow-select.svg);
  background-position: right 0px center;
  background-repeat: no-repeat;
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .p-date-time select {
    height: 3rem;
  }
}
.p-date-time input {
  border: 1px solid #C4C2C2;
  background-color: #ffffff;
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
}
@media screen and (max-width: 599px) {
  .p-date-time input {
    height: 3rem;
  }
}
.p-date-time__form {
  margin-top: 1rem;
}
@media screen and (max-width: 599px) {
  .p-date-time__form {
    flex-wrap: wrap;
  }
}
.p-date-time__year {
  width: 6.5rem;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .p-date-time__year {
    margin-bottom: 1rem;
  }
}
.p-date-time__year span {
  margin-left: 0.5rem;
}
.p-date-time__month, .p-date-time__day {
  width: 6.5rem;
  align-items: center;
  margin-left: 1.5rem;
}
@media screen and (max-width: 599px) {
  .p-date-time__month, .p-date-time__day {
    width: calc(35% - 24px);
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}
.p-date-time__month span, .p-date-time__day span {
  margin-left: 0.5rem;
}
.p-date-time__hour {
  width: 3rem;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}
@media screen and (max-width: 599px) {
  .p-date-time__hour {
    width: 5rem;
    margin-left: 0;
  }
}
.p-date-time__colon {
  align-items: center;
}
.p-date-time__minutes {
  width: 3rem;
  margin-left: 0.5rem;
}
@media screen and (max-width: 599px) {
  .p-date-time__minutes {
    width: 5rem;
  }
}

.p-public-status {
  margin-top: 2.5rem;
}
.p-public-status h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.p-public-status select {
  border: 1px solid #C4C2C2;
  background-color: #ffffff;
  background-image: url(../img/arrow-select.svg);
  background-position: right 0px center;
  background-repeat: no-repeat;
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .p-public-status select {
    height: 3rem;
  }
}
.p-public-status__selection {
  width: 6.5rem;
  margin-top: 1rem;
}
@media screen and (max-width: 599px) {
  .p-public-status__selection {
    width: 100%;
  }
}

.c-icon--account {
  margin-right: 1rem;
}
.c-icon--menu {
  margin-left: auto;
}
.c-icon--mypage {
  transition: 0.3s;
}
.c-icon--mypage:hover {
  color: #8CDBFF;
  transition: 0.3s;
}
.c-icon--mypage::before {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e88a";
  margin-right: 1rem;
  position: relative;
  top: 3.5px;
}
@media screen and (max-width: 1024px) {
  .c-icon--mypage::before {
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 599px) {
  .c-icon--mypage::before {
    margin-right: 1rem;
  }
}
.c-icon--edit::before {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e3c9";
  margin-right: 1rem;
  position: relative;
  top: 3.5px;
}
@media screen and (max-width: 1024px) {
  .c-icon--edit::before {
    top: 0;
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 599px) {
  .c-icon--edit::before {
    margin-right: 1rem;
  }
}
.c-icon--edit::after {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e5cf";
  position: relative;
  top: 4px;
  left: 96px;
}
@media screen and (max-width: 1024px) {
  .c-icon--edit::after {
    top: 0;
    left: 0;
    margin-left: auto;
  }
}
@media screen and (max-width: 599px) {
  .c-icon--edit::after {
    right: 0.5rem;
  }
}
.c-icon--add::before {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e147";
  margin-right: 1rem;
  position: relative;
  top: 3.5px;
}
@media screen and (max-width: 1024px) {
  .c-icon--add::before {
    top: 0;
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 599px) {
  .c-icon--add::before {
    margin-right: 1rem;
  }
}
.c-icon--add::after {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e5cf";
  position: relative;
  top: 4px;
  left: 54px;
}
@media screen and (max-width: 1024px) {
  .c-icon--add::after {
    top: 0;
    left: 0;
    margin-left: auto;
  }
}
@media screen and (max-width: 599px) {
  .c-icon--add::after {
    right: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .c-heading {
    margin-top: 1.5rem;
  }
}
.c-heading h2 {
  font-size: 2rem;
  font-weight: bold;
}

.c-title {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  background-color: #ffffff;
  border: 1px solid #C4C2C2;
}
.c-title input {
  width: 100%;
  height: 3.5rem;
  padding: 0 0.5rem;
}

#c-editor {
  height: 25rem;
}

.c-hamburger {
  display: none;
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  top: 0.6rem;
  left: 0.5rem;
  z-index: 3;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .c-hamburger {
    display: block;
  }
}
.c-hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #3E4D62;
  transition: 0.3s ease-in-out;
}
.c-hamburger span:nth-child(1) {
  top: 10px;
}
.c-hamburger span:nth-child(2) {
  top: 20px;
}
.c-hamburger span:nth-child(3) {
  top: 30px;
}

.c-active span {
  background-color: #fff;
}
.c-active span:nth-of-type(1) {
  top: 1.5rem;
  transform: rotate(-45deg);
}
.c-active span:nth-of-type(2) {
  display: none;
}
.c-active span:nth-of-type(3) {
  top: 1.5rem;
  transform: rotate(45deg);
}

.c-back-dark {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(3, 3, 3, 0.5);
  transition: all 0.5s 0s ease;
  display: none;
}

.c-button__edit {
  background-color: #D6D6D6;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-radius: 4px;
  margin-right: 1rem;
  transition: all ease-in-out 0.2s;
}
@media screen and (max-width: 1024px) {
  .c-button__edit {
    width: 100%;
  }
}
.c-button__edit::before {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e3c9";
  margin-right: 0.5rem;
}
.c-button__edit:hover {
  background-color: #C4C4C4;
  font-weight: 500;
  transition: all ease-in-out 0.2s;
}
.c-button__delet {
  margin-left: auto;
}
@media screen and (max-width: 1024px) {
  .c-button__delet {
    display: none !important;
  }
}
.c-button__delet a {
  background-color: #EA6969;
  color: #ffffff;
  font-weight: bold;
  width: 6.5rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 0.2s;
}
.c-button__delet a::before {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e92e";
  margin-right: 0.5rem;
}
.c-button__delet a:hover {
  background-color: #EB5252;
  transition: all ease-in-out 0.2s;
}
.c-button__delet--sp {
  display: none;
}
@media screen and (max-width: 1024px) {
  .c-button__delet--sp {
    display: block;
    margin-top: 1.5rem;
  }
}
.c-button__delet--sp a {
  background-color: #EA6969;
  color: #ffffff;
  font-weight: bold;
  width: 6.5rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 0.2s;
}
.c-button__delet--sp a::before {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e92e";
  margin-right: 0.5rem;
}
.c-button__delet--sp a:hover {
  background-color: #EB5252;
  transition: all ease-in-out 0.2s;
}
.c-button__file {
  margin-top: 2.5rem;
}
.c-button__file h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.c-button__file--selection {
  margin-top: 1rem;
}
.c-button__file--selection label {
  padding: 1rem;
  color: #2E3A4A;
  background-color: #B5D5F5;
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.2s;
}
.c-button__file--selection label:hover {
  background-color: #9DC9F5;
  transition: all ease-in-out 0.2s;
}
.c-button__file--selection input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.c-button__file--selection p {
  margin-top: 1rem;
}
.c-button__add {
  margin-top: 2.5rem;
}
.c-button__add a {
  color: #2E3A4A;
  font-weight: bold;
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}
@media screen and (max-width: 599px) {
  .c-button__add a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
}
.c-button__add a:first-of-type {
  background-color: #9DD2A9;
  padding: 1rem 2rem;
  margin-right: 1.5rem;
  transition: all ease-in-out 0.2s;
}
.c-button__add a:first-of-type:hover {
  background-color: #88D199;
  transition: all ease-in-out 0.2s;
}
.c-button__add a:last-of-type {
  background-color: #FF8F67;
  padding: 1rem 4rem;
  transition: all ease-in-out 0.2s;
}
.c-button__add a:last-of-type:hover {
  background-color: #FF7B57;
  transition: all ease-in-out 0.2s;
}
@media screen and (max-width: 599px) {
  .c-button__add a:last-of-type {
    padding: 0;
  }
}