@use "../../foundations/responsive" as *;

.c-icon {
    &--account {
        margin-right: 1rem;
    }
    &--menu {
        margin-left: auto;
    }
    &--mypage {
        transition: .3s;
        &:hover {
            color: #8CDBFF;
            transition: .3s;
        }
        &::before {
            font-family: 'Material Icons';
            font-size: 1.5rem;
            content: '\e88a';
            margin-right: 1rem;
            position: relative;
            top: 3.5px;
            @include mq() {
                margin-right: .5rem;
            }
            @include mq(sm) {
                margin-right: 1rem;
            }
        }
    }
    &--edit {
        &::before {
            font-family: 'Material Icons';
            font-size: 1.5rem;
            content: '\e3c9';
            margin-right: 1rem;
            position: relative;
            top: 3.5px;
            @include mq() {
                top: 0;
                margin-right: .5rem;
            }
            @include mq(sm) {
                margin-right: 1rem;
            }
        }
        &::after {
            font-family: 'Material Icons';
            font-size: 1.5rem;
            content: '\e5cf';
            position: relative;
            top: 4px;
            left: 96px;
            @include mq() {
                top: 0;
                left: 0;    
                margin-left: auto;
            }
            @include mq(sm) {
                right: .5rem;
            }
        }
    }
    &--add {
        &::before {
            font-family: 'Material Icons';
            font-size: 1.5rem;
            content: '\e147';
            margin-right: 1rem;
            position: relative;
            top: 3.5px;
            @include mq() {
                top: 0;
                margin-right: .5rem;
            }
            @include mq(sm) {
                margin-right: 1rem;
            }
        }
        &::after {
            font-family: 'Material Icons';
            font-size: 1.5rem;
            content: '\e5cf';
            position: relative;
            top: 4px;
            left: 54px;
            @include mq() {
                top: 0;
                left: 0;    
                margin-left: auto;
            }
            @include mq(sm) {
                right: .5rem;
            }
        }
    }
}