.p-file-button {
    margin-top: 2.5rem;
    h3 {
        font-size: 1.5rem;
        font-weight: 500;
    }
    &__selection {
        margin-top: 1rem;
        label {
            padding: 1rem;
            color: #2E3A4A;
            background-color: #B5D5F5;
            box-shadow: 0px 3px 8px -4px rgb(0 0 0 / 60%);
            border-radius: 4px;
            font-weight: bold;
            display: inline-block;
            position: relative;
            transition: all ease-in-out 0.2s;
            &:hover {
                background-color: #9DC9F5;
                transition: all ease-in-out 0.2s;
            }
        }
        input {
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        p {
            margin-top: 1rem;
        }
    }
}