.p-menu {
    height: 100vh;
    &__logo {
        text-align: center;
        margin: 1rem 3.5rem 2rem;
        a {
            h1 {
                img {
                    width: 100%;
                }
            }
        }
    }
    &__list {
        display: inline-block;
        margin-top: 2rem;
        width: 100%;
        font-size: 1.3rem;
        li {
            a {
                display: inline-block;
                width: 100%;
                margin-bottom: 2.5rem;
                padding-left: 1rem;
                padding-right: .5rem;
            }    
        }
    }
    &__accordion {
        margin-bottom: 2.5rem;
        padding-left: 1rem;
        padding-right: .5rem;
        cursor: pointer;
    }
}