@use "../../foundations/responsive" as *;

.p-menu {
    @include mq(sm) {
        display: none;
    }
    height: 100%;
    &__logo {
        text-align: center;
        margin: 1rem 3.5rem 2rem;
        a {
            h1 {
                img {
                    width: 100%;
                }
            }
        }
    }
    &__list {
        display: inline-block;
        margin-top: 2rem;
        width: 100%;
        font-size: 1.3rem;
        font-weight: 500;
        & > {
            li {
                &:first-of-type {
                    margin-bottom: 2.5rem;
                }
                &:last-of-type {
                     margin-top: 2.5rem;
                }        
            }
        }
        li {
            position: relative;
            a {
                display: inline-block;
                width: 100%;
                padding-left: 1rem;
                padding-right: .5rem;
            }    
        }
    }
    &__accordion {
        padding-left: 1rem;
        padding-right: .5rem;
        cursor: pointer;
        transition: .3s;
        @include mq(sm) {
            padding-right: 1rem;
        }
        &:hover {
            color: #8CDBFF;
            transition: .3s;
        }
    }
}