.p-nav {
    &__header {
        ul {
            justify-content: flex-end;
            a {
                margin-right: 2rem;
            }
            li {
                align-items: center;
            }
        }
    }
}