@use "../../foundations/responsive" as *;

.p-sort-menu {
    margin-top: 2rem;
    align-items: end;
    @include mq(sm) {
        display: block;
        & > {
            div {
                display: block;
            }
        }
    }
    &__pull-down-list {
        border: 1px solid #C4C2C2;
        background-color: #ffffff;
        border-radius: 2px;
        width: 6.5rem;
        height: 2rem;
        margin-right: 1.5rem;
        @include mq(sm) {
            display: flex;
            align-items: center;
            width: 100%;
            height: 3rem;
            margin-bottom: 1.5rem;
        }
        select {
            background-image: url(../img/arrow-select.svg);
            background-position: right 0px center;
            background-repeat: no-repeat;
            width: 100%;
            height: 2rem;
            padding: 0 .5rem;
            cursor: pointer;
        }
    }
    &__search {
        width: 15rem;
        @include mq(sm) {
            width: 100%;
            height: 3rem;
            margin-bottom: 1.5rem;
        }
        input {
            border: 1px solid #C4C2C2;
            background-color: #ffffff;
            border-radius: 16px;
            width: 100%;
            height: 2rem;
            padding: 0 .5rem;
            @include mq(sm) {
                height: 100%;
            }
        }
    }
}